<template bindable='router'>
    
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <a href="https://getuikit.com/" class="uk-navbar-item uk-logo uk-background-primary">
          <img src="https://getuikit.com/images/uikit-logo.svg" uk-svg>
        </a>
        <div href="" class="uk-navbar-item uk-logo">
            UIKit demo
        </div>
        <ul class="uk-navbar-nav uk-dark">
          <li class="${nav.isActive ? 'uk-active' : ''}" repeat.for="nav of router.navigation">
            <a href.bind="nav.href">${nav.config.title}</a>
          </li>
        </ul>

      </div>
    </nav>

</template>